body{
    background-color: black;
}
h1{
    color: aquamarine;
}span{
    color: aquamarine;
}p{
    color: aquamarine;
}
a{
    color: black;

    
}nav{
    background-color: azure;
}main{
    background-color: bisque;
}h2{
    background-color: aqua;
}p{
    background-color: antiquewhite;
}section{
    background-color: bisque;
}h3{
    color: aquamarine;
}li{
    color: black;
}footer{
    color: cyan;
}